# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/nextapp/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/nextapp/.next/
/out/

# production
/nextapp/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
nextapp/.env.local
nextapp/.env.development.local
nextapp/.env.test.local
nextapp/.env.production.local

# vercel
.vercel

# typescript
*.tsbuildinfo
