.feed {
    flex: 0.5 !important;
    border-right: 1px solid var(--twitter-background);
    overflow-y: scroll;
    max-width: 100%;
    overflow-x: hidden;
  }
  /* Hide scrollbar for Chrome, Safari and Opera */
  .feed::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .feed {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  
  .feed__header {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
    border: 1px solid var(--twitter-background);
    padding: 10px 20px;
  }
  
  .feed__header > h2 {
    font-size: 20px;
    font-weight: 800;
  }


  @media screen and (min-device-width: 281px) and (max-device-width: 768px) { 
    .feed{
        min-width: 90vw;
    }
    
}
  